# Ignore Nix build symlinks
result
result-*
overrides/arr-secrets.yml
overrides/planka.env
overrides/cloudflared.env
overrides/vaultwarden.env
overrides/vaultwarden-kdrive-backup.env
overrides/headplane.yaml
overrides/vikunja.env
.aider*
